/* App.css */

/* =====================================*/
/* Global styles */

.light-font {
  color: #000;
}
.dark-font {
  color: #ffffff;
}

.light-bg-white {
  background-color: #ffffff;
}
.light-bg-gray {
  background-color: rgba(229 231 235);
}

.dark-bg-black {
  background-color: #000000;
}
.dark-bg-gray {
  background-color: #3c3c3c;
}

.selected-green{
  background-color: "bg-teal-500";
}

.bg-blur{
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
}

/* ===================================== */

/* ------------------------------------------------------------ */
/* Home page background */
/* always style */
.bg-home {
  background-image: url('./public/bg_image.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
}
/* light mode */

  
/* dark mode */

/* ------------------------------------------------------------ */

/* chatList background */
/* always style */
.bg-myChats-pic { 
  /* background-color: rgb(255 252 174) ; */
  background-image: url('./public/bg_allchats.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
}
/* light mode */
.bg-myChats-light {
  background-color: rgb(255 252 174);
}  
/* dark mode */
.bg-myChats-dark {
  background-color: rgb(28 51 0);
}



/* ------------------------------------------------------------ */
/* chatBox background */
/* always style */
.bg-chatBox-pic {
  background-image: url('./public/bg_chat.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;  
}
/* light mode */
.bg-chatBox-bg-light {
  background-color: rgb(235 255 188);
}
  
/* dark mode */
.bg-chatBox-bg-dark {
  background-color: rgb(28 51 0);
}
/* ------------------------------------------------------------ */
